# Build
build/
cmake-build-*/
out/

# IDE
.vs/
.vscode/
.idea/
*.sln
*.vcxproj*
*.user
CMakeSettings.json
CMakePresets.json

# OS
.DS_Store
Thumbs.db

# Compiled objects
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib
*.exe

# Profiler output
profiling/
